body{
	
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/ab/St._Mark's_School,_Southborough,_MA_-_IMG_0592.JPG");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-family: 'Coming Soon', cursive;
	font-size: 18pt;
	font-weight: bolder;
	color: black;

}
h1{
	text-align: left;
	font-family: 'pacificoregular' ;
	color: white;
	font-size: 1.25em;
	-webkit-text-stroke: 2px black;
	border-bottom: 3px solid gray;
	text-shadow: 4px 4px #666699;
}

h2{
	text-align: center;
	background-color: navy;
	font-family: 'pacificoregular' ;
	color: white;
	font-size: 60px;
	padding-top: 2%;
	padding-bottom: 2%;
	margin: 0;


	-webkit-text-stroke: 2px black;
	border-bottom: 3px solid gray;
	text-shadow: 4px 4px #666699;
}


#ImgBox{
	border: 10px groove gold;
	margin-top: 20%;
}


ul {
list-style-type: none;
padding: 0;
margin: 0;
background-color: navy;

}

li{
display: inline-block;
text-align: center;
width: 19%;
background-color: navy;
padding: .5%;
margin: 1%;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: gray;
	color: navy;
	width: 90%;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0, 2);
	margin-top: 5%;
	margin-bottom: 5%
}

.dropdown {
	position: relative;
}

li {
	color: black;
	margin-top: 0%;
	display: inline-block;
	text-align: center;
	width: 19%;
	background-color: darkgreen;
	padding-top: 0.5%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%
}

.dropdown:hover .dropdown-content {
	display: block;
}
 
 #loc {
 	background-color: lime;
 }

 #cap {
 	background-color: lime
 }

.mission {
		background: rgba(0,0,255,0.3);
		margin-left: 20%;
		margin-right: 20%;
		margin-top: 5%;
		padding: 2%;
		border: dotted 6px black;
		font-family: Carrington;
		color: white;
		font-size: 25px;
}

form {
    font-size: 12px;
    font-family: Verdana, Arial, Sans-Serif;
    display: inline-block;
    background: rgba(0,0,255,0.3);
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
	padding: 2%;		
	border: dotted 6px black;
}

p{
	font-family: 'PT Sans Narrow', cursive;
	color: black;
	margin-left: 25%;
	margin-right: 50%;
	background-color: rgba( 255, 255, 0, 0.5);
}

#messages {
    font-size: 14px;
	font-family: Garamond, Times, Serif;
}